<header>
  <nav class="flex justify-center p-4 rounded-b-lg bg-primary text-neutral-100 shadow-lg">
    <ul class="flex gap-5 text-lg items-center">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
